body {
    margin: 0;
    
}


a {
    text-decoration: none;
}


.flexContainer {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    border: 3px solid yellowgreen;
}

/* Header ////////////////////////////////////////////////*/

.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(103, 184, 106);
    height: 3rem;
    width: 100%;
    align-items: center;
}

.tittleContainer {
    flex-grow: 1;
    display: flex;
}

.navContainer {
    display: flex;
    flex-grow: 2;
}

.navList {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
}

.navList li a:hover {
color: white;
}

.formContainer {
    flex-grow: 1;
}

/* Section ///////////////////////////////////////////////// */

.sectionContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    border: 3px solid ;
}



.article {
    height: 15rem;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
}

.article_2 {
    height: 20rem;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
}


.section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

/* Aside ///////////////////////////////////////////////// */

.asideContainer {
    display: flex;
    flex-grow: 1;
    border: 3px solid green;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Footer ///////////////////////////////////////////////// */
.footerContainer {
    display: flex;
    flex-direction: row;
}

.footerBox {
    display: flex;
    flex-grow: 1;
    border: 3px solid green;
    height: 5rem;
    background-color: rgb(145, 145, 214);
    justify-content: center;
    align-items: center;
}




